
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

body {
  background: #ECE9E6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ECE9E6 , #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main-content {
  margin-top: 50px;
}

.front-logo-container {
  background: #222222;
  width: 40%;
}


.nav {
  background: $nav-bg;
}

.banner {
  background: url('../img/banner.jpg');

}