
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url('https://fonts.googleapis.com/css?family=Chivo');
// Variables
@import "variables";

// Utility styling
@import "utils";



body {

  font-family: "Chivo" !important;
  background: #134E5E;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.root-element {
  background: inherit;
}

a {
  color: $brand-secondary;
}


//buttons
.button.is-primary {
  background: $brand-primary;
  &:hover {
    background: $transparent;
  }
}

.button.is-info {
  background: $brand-info;
  &:hover {
    background: $transparent;
  }
}

.button.is-success {
  background: $brand-secondary;
  &:hover {
    background: $transparent;
  }
}

.button {
  background: $brand-base;
}

// Optimizations for Bulma
.tag{
  border-radius: 3px;
}
span.panel-heading{
  display: block;
}

.panel-heading {
  background: $transparent;
}

.panel-body {
  background: darken($transparent, 10%);
}

#search-tags {
  color: $transparent;
}

.filter-bar .button {
  color: $transparent;
}

.tag {
  &.is-notification {
    font-size: 10px;
    padding: 1px 3px;
    background: $notifications;
    border-radius: 2px;
    color: white;
    font-size: 10px;
    min-height: 13px;
    line-height: 1.3;
    border: 1px solid rgba(white, 0.2);
    position: absolute;
    top: 9px;
    left: 4px;
    text-align: right;
    margin: 0 !important;
    height: 12px;
    min-width: 12px;
  }
}

.card {
  background: $transparent;
}


// header
@import "header";

// General classes
.center-content{
  text-align: center
}
.canvas-image{
  display: none;
}

.main-content {
}

.front-logo-container {
  background: #222222;
  width: 40%;
}

.box {
  background: $transparent;
}

.box-post {
  cursor: pointer;
}

.box-options {
  position: absolute;
  right: 15px;
  top: 15px;
  display: flex;
  flex-direction: column;

  i.fa{
    color: #4a4a4a;
  }
  i{
    &:hover {
      color: $brand-link;
    }
  }
  .option{
    margin-bottom: 10px;
    text-align: center;
  }
}

.filter-panel {
  display: none;
  label.checkbox {
    padding: 5px;
    input {
      margin-right: 3px;
    }
  }

}
.fa {
  color: $brand-secondary;
}

.content h3 {
  color: $transparent;
  .fa {
    color: $transparent;
  }
}

.content h1 {
  color: $transparent;
}

.fa.fa-caret-down {
  color: $transparent;
}


.box-post {
  @include transparent();
  position: relative;

  .media {
    font-size: 1.2rem;
  }
  a {
    color: inherit;
  }

}

.hero-body {
  padding-bottom: 0px;
}

.post-tags {
  margin-top: 15px;
  padding: 5px;
}

.panel-tags {
  a {
    &:hover {
      border-bottom: 1px solid $brand-link;
    }
  }
}

.nav {
  background: $nav-bg;
}

.banner {
  background: inherit;

  background-size: cover;
}

.media-type img {
  padding: 5px;
}

.box-with-options{
  position: relative;
}

.media-post h4.title{
  margin-bottom: 0;
}

.media-post span.author{
  font-size: .8em;
  font-weight: bold;
}

.media-post-comment {


  margin-left: 25px;
}

.media-question {

  img {
    width: 100%;
  }
}

.media-answer {

  img {
    width: 50%;
  }
}

.media-accepted {


  img {
    width: 80%;
  }
}

.form-comment-hidden
{
  display: none;
}


code {
  display: block;
}



/*
  icons styling
*/

.button-group {
  padding: 20px 20px 20px 0px;

}

.vote-group {
  max-width: 50px;
  display: flex;
  flex-direction: column;
  .fa {
    cursor: pointer;

  }
}

i.fa-remove {
  color: red;
}

.fa-arrow-down
{
  color: red;
}

.fa-arrow-up {
  color: green;
}

.fa.is-warning {
  color: $brand-warning;
}
.fa.is-danger {
  color: $brand-danger;
}

i.enable-admin-controls{
  cursor: pointer;
}

li.admin-control .fa {
  vertical-align: middle;
}


// endicons
ul.admin-controls {
  right: 0px;
  top: 0px;
  min-width: 150px;
  display: none;
  background: $brand-warning;
  position: absolute;
  z-index: 5;
  box-shadow: 1px 1px 2px black;

}

li.admin-control {
  list-style: none;
  padding: 5px 8px;
  border-bottom: 1px solid #ccc;
  background: $brand-warning;
  transition: 0.2s;
  &:hover {
    background: darken($brand-warning, 15%);
  }
}


.pagination ul {
  margin-left:0px;

  li {
    list-style: none;
  }
}

.panel-block {
  flex-direction: column;
}

.panel-block > form {
  display: block;
  width: 100%;
}

iframe[src^="https://player.vimeo.com"] {
  width: 80%;
  margin: 0 auto;
  display: block;
}


footer.main-footer {
  margin-top: 30px;
  background: #272822 url('../img/banner.jpg') no-repeat;
  background-size: cover;
  .columns {
    background: rgba(0,0,0,0.4);
    padding: 10px;
  }
  .column, h3 {
    color: #fefefe;
  }

}

.message-unread {
  background: $transparent;
}

.message-read {
  background: $brand-link;
}

table.table {
  @include transparent();
}

.content table tr:hover {
  background: inherit;
}

.tabs li a {
  color: $transparent;
}

.tabs li.is-active a {
  color: $brand-secondary;
}

.pagination-link {
  color: $brand-secondary;
  border-color: $brand-secondary;
  &:link {
    border-color: $brand-secondary;
  }
  &:hover {
    border-color: $brand-secondary;
    color: $brand-secondary;
  }
}

.pagination-link.is-current {
  background-color: $brand-secondary;
  border-color: $brand-secondary;
  &:link {
    border-color: $brand-secondary;
    background-color: $brand-secondary;
  }
  &:hover {
    border-color: $brand-secondary;
    background-color: $brand-secondary;
  }
}

.pagination a {
  background: $brand-secondary;
  border-color: $brand-secondary;
  color: white;
  &:active {
    border-color: $brand-secondary;
  }
}

.token.number {
  padding: 0px;
  margin-right: 0px;
  align-items: inherit;
  height: inherit;
  justify-content: inherit;
  min-width: inherit;
  font-size: inherit;
  vertical-align: inherit;
}


.story-houses {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px 30px;
}

.question-info {
  background: rgba(255,255,255,0.7);
}

.light-up {
  box-shadow: 0px 0px 40px 10px lightyellow;
}

code[class*="language-"], pre[class*="language-"] {
  max-width: 650px;
}

.news-panel .news-item {
  @include transparent();
  margin: 10px 0;
  padding: 10px;

  display: flex;
  justify-content: space-between;
  a {
    font-weight: bold;
  }
}

.news-show {
  position: relative;
  h1 {
    color: black;
  }
  @include transparent();
  margin: 10px;
  padding: 10px;
}

.columns {
  @media screen and (max-width: 1009px) {
    margin: 0;
  }
}

.box {
  margin: 0;
}

@supports (-ms-ime-align: auto) {
  .story-houses {
        display: block !important;
  }
}