
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

body {
  background: #ECE9E6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ECE9E6 , #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main-content {
  margin-top: 50px;
}

.front-logo-container {
  background: #222222;
  width: 40%;
}

.box-post {

  a {
    color: inherit;
  }

  transition: .2s;

  &:hover {
    background: #efefef;
  }
}

.nav {
  background: $nav-bg;
}

.banner {
  background: url('../img/banner.jpg');
}

.media-type img {
  padding: 5px;
}

.media-post {
  background: white;
  box-shadow: 0px 0px 5px 1px black;
  padding: 23px;
}

.media-post-comment {


  margin-left: 25px;
}

.media-question {

  img {
    width: 100%;
    background: #fedde1;
  }
}

.media-answer {

  img {
    width: 50%;
    background: #ed5fBB;
  }
}

.media-accepted {


  img {
    width: 80%;
    background: #34deaa;
  }
}

.form-comment-hidden
{
  display: none;
}


code {
  display: block;
}



/*
  icons styling
*/

.button-group {
  padding: 20px 20px 20px 0px;

}

.vote-group {
  margin-top: -15px;
  display: flex;
  flex-direction: column;
  .fa {
    cursor: pointer;

  }
}

.fa-arrow-down
{
  color: red;
}

.fa-arrow-up {
  color: green;
}

.pagination ul {
  margin-left:0px;

  li {
    list-style: none;
  }
}

.panel-block {
  flex-direction: column;
}

.panel-block > form {
  display: block;
  width: 100%;
}
