
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

body {
  background: #ECE9E6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ECE9E6 , #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main-content {
  margin-top: 50px;
}

.front-logo-container {
  background: #222222;
  width: 40%;
}

.box-post {
  cursor: pointer;
}

.box-options {
  position: absolute;

    right: 15px;
    top: 15px;
    i {
      color: $text-color;
      &:hover {
        color: $brand-link;
      }
    }
}

.filter-panel {
  display: none;
  label.checkbox {
    padding: 5px;
    input {
      margin-right: 3px;
    }
  }

}

.box-post {
  position: relative;

  .media {
    font-size: 1.2rem;
  }
  a {
    color: inherit;
  }

  transition: .2s;

  &:hover {
    background: #efefef;
  }
}

.post-tags {
  margin-top: 15px;
  padding: 5px;
}

.panel-tags {
  a {
    &:hover {
      border-bottom: 1px solid $brand-link;
    }
  }
}

.nav {
  background: $nav-bg;
}

.banner {
  background: url('../img/banner.jpg');
}

.media-type img {
  padding: 5px;
}

.media-post {
  position: relative;
  background: white;
  box-shadow: 0px 0px 5px 1px black;
  padding: 23px;


}

.media-post-comment {


  margin-left: 25px;
}

.media-question {

  img {
    width: 100%;
    background: #fedde1;
  }
}

.media-answer {

  img {
    width: 50%;
    background: #ed5fBB;
  }
}

.media-accepted {


  img {
    width: 80%;
    background: #34deaa;
  }
}

.form-comment-hidden
{
  display: none;
}


code {
  display: block;
}



/*
  icons styling
*/

.button-group {
  padding: 20px 20px 20px 0px;

}

.vote-group {
  margin-top: -30px;
  display: flex;
  flex-direction: column;
  .fa {
    cursor: pointer;

  }
}

.fa-arrow-down
{
  color: red;
}

.fa-arrow-up {
  color: green;
}

.pagination ul {
  margin-left:0px;

  li {
    list-style: none;
  }
}

.panel-block {
  flex-direction: column;
}

.panel-block > form {
  display: block;
  width: 100%;
}


footer.main-footer {
  margin-top: 30px;
  background: url('../img/banner.jpg');
  .columns {
    background: rgba(0,0,0,0.4);
    padding: 10px;
  }
  .column, h3 {
    color: #fefefe;
  }

}

